.app-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .navigation{
        display: flex;
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;  
            li{
                padding: 0 .5em;
            }          
        }
    }
}